.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    border: none;
    box-shadow: none;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgb(209, 205, 199)
}

.meta a {
    text-decoration: none;
    color: rgb(209, 205, 199)
}

.meta a:hover {
    color: var(--bs-link-hover-color)
}

.card-img-top {
    display: block;
    width: 100px;
    height: 100px;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgb(209, 205, 199);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.px-20 {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
}