{% extends 'base.html' %}
{% block content %}
<main class="mb-4 px-20 d-flex flex-wrap flex-row justify-content-between">
    <div class="w-50 py-4 px-2">
        <img class="card-img-top" src="assets/img/mike.jpg">
        <hr>
        <div class="card-block">
            <h4 class="card-title">Mike - Leader</h4>
            <div class="meta">
                <div>Death Counter: 0</div>
            </div>
            <div class="card-text">
                Noone believed in him, some tried to help. He showed them who actually needs help.
            </div>
        </div>
    </div>
    <div class="w-50 py-4 px-2">
        <img class="card-img-top" src="assets/img/avocato.jpeg">
        <hr>
        <div class="card-block">
            <h4 class="card-title">Druid of the Spirits - Avocato</h4>
            <div class="meta">
                <div>Death Counter: 0</div>
            </div>
            <div class="card-text">
                A fearsome druid who cannot shapeshift yet. Excels at hiding behind allies and failing every check.
            </div>
        </div>
    </div>
    <div class="w-50 py-4 px-2">
        <img class="card-img-top" src="assets/img/pavlos.jpeg">
        <hr>
        <div class="card-block">
            <h4 class="card-title">Bart Melody Makers</h4>
            <div class="meta">
                <div>Death Counter: 0</div>
            </div>
            <div class="card-text">
                Lorem Ipsum
            </div>
        </div>
    </div>
    <div class="w-50 py-4 px-2">
        <img class="card-img-top" src="assets/img/kara.jpeg">
        <hr>
        <div class="card-block">
            <h4 class="card-title">Karagorn Amigo</h4>
            <div class="meta">
                <div>Death Counter: 0</div>
            </div>
            <div class="card-text">
                Lorem Ipsum
            </div>
        </div>
    </div>
    <div class="w-50 py-4 px-2">
        <img class="card-img-top" src="assets/img/polis.jpeg">
        <hr>
        <div class="card-block">
            <h4 class="card-title">Kragg Stonebreaker</h4>
            <div class="meta">
                <div>Death Counter: 0</div>
            </div>
            <div class="card-text">
                Lorem Ipsum
            </div>
        </div>
    </div>
    <div class="w-50 py-4 px-2">
        <img class="card-img-top" src="assets/img/sam.jpeg">
        <hr>
        <div class="card-block">
            <h4 class="card-title">Sam Wise</h4>
            <div class="meta">
                <div>Death Counter: 0</div>
            </div>
            <div class="card-text">
                Lorem Ipsum
            </div>
        </div>
    </div>
    <div class="w-50 py-4 px-2">
        <img class="card-img-top" src="assets/img/vito.jpeg">
        <hr>
        <div class="card-block">
            <h4 class="card-title">Santa Sese</h4>
            <div class="meta">
                <div>Death Counter: 0</div>
            </div>
            <div class="card-text">
                Lorem Ipsum
            </div>
        </div>
    </div>
    <div class="w-50 py-4 px-2">
        <img class="card-img-top" src="assets/img/velo.jpeg">
        <hr>
        <div class="card-block">
            <h4 class="card-title">Sir Velocity Phaggotiers</h4>
            <div class="meta">
                <div>Death Counter: 0</div>
            </div>
            <div class="card-text">
                Lorem Ipsum
            </div>
        </div>
    </div>
    <div class="w-50 py-4 px-2">
        <img class="card-img-top" src="assets/img/sampa.jpeg">
        <hr>
        <div class="card-block">
            <h4 class="card-title">Tona Tallo</h4>
            <div class="meta">
                <div>Death Counter: 0</div>
            </div>
            <div class="card-text">
                Lorem Ipsum
            </div>
        </div>
    </div>
    <div class="w-50 py-4 px-2">
        <img class="card-img-top" src="assets/img/theo.jpeg">
        <hr>
        <div class="card-block">
            <h4 class="card-title">Velthros Prysmynis</h4>
            <div class="meta">
                <div>Death Counter: 0</div>
            </div>
            <div class="card-text">
                Lorem Ipsum
            </div>
        </div>
    </div>
</main>
{% endblock content %}