{% extends 'base.html' %}
{% block content %}
<main class="mb-4 px-20 d-flex flex-wrap flex-row justify-content-between">
    <div class="w-50 py-4 px-2">
        <img class="card-img-top" src="assets/img/mike.jpg">
        <hr>
        <div class="card-block">
            <h4 class="card-title"><a href="journal/1.html">Week 1: A disaster of a fight</a></h4>
            <hr>
            <div class="card-text">
                A bountyful harvest was celebrated but an unexpected horde was not invited.
            </div>
        </div>
    </div>
</main>
{% endblock content %}