{% extends 'base.html' %}
{% block content %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="section-heading">TITLE TODO</h2>
                <p>Our story unfolds in the year 160 of the 2nd age, the age of peace and prosperity for the allied
                    races. Before the creation of the alliance, all races were divided, constantly fighting each
                    other for land and resources on the Mainland until Del’es arrived. Del’es was a hive-mind army
                    from another plane of existence, driven by hunger for power. They managed to submit most of the
                    population of the mainland. The last few surviving colonies created the Council of the World, a
                    council that held a leader from each of the main factions (Humans, Elfs, Dwarfs, Orcs and
                    Tieflings). They managed to unite every last survivor and made a stand against Del’es for 11
                    years, killing thousands if not millions of Del’es army until this evil force retreated back to
                    where it came from. Then the lands of the mainland were split among the races participating in
                    the Council. Peace didn't last long as greedy leaders quickly forgot what brought their
                    ancestors together and they have been plotting against each other in order to gaining more land.
                </p>
                <p>There is still a piece of land in the far south not affected by politics. The biggest island of
                    the known world, Menfair, is a place where its occupants mind their own business. The city-state
                    Marin focuses on its own wealth making under the safety provided by the surrounding sea and the
                    strong fleet it possesses. With heavy taxes funding rapid expansions the people started feeling
                    disdain. That’s when Mike Lorak, a young lumberjack, decided he is tired of working tirelessly
                    day and night for a piece of bread. He gathered a handful of skillful people and persuaded them
                    to abandon Marin and start a new village, now known as Bexlay. Our adventurers left their old
                    lives behind and followed Mike to a fresh start. Few but capable, the habitants of Bexlay
                    managed their way for 3 years of living in the wilds, far from the civilization. After hard
                    work, future finally seemed promising.</p>
                <p>But then the unexpected happened.</p>
            </div>
        </div>
    </div>
</article>
{% endblock content %}